<dialog [open]="open" class="editor-dialog">
	<aside class="offcanvas offcanvas-start" [class.show]="open" data-bs-scroll="true" data-bs-backdrop="true">
		<div class="offcanvas-header">
			@if (product.id) {
			<h5 class="offcanvas-title" id="editCategoryOffcanvasLabel">Editar Producto</h5>
			}
			@else {
			<h5 class="offcanvas-title" id="editCategoryOffcanvasLabel">Nueva Producto</h5>
			}
			<button type="button" class="btn-close text-reset" aria-label="Close" (click)="closeEditor()"></button>
		</div>
		<div class="offcanvas-body">
			<form #formCategoria="ngForm">

				<div class="mb-3">
					<label for="nombre" class="form-label">Nombre</label>
					<input ngModel #nombre="ngModel" name="nombre" type="text" class="form-control" id="nombre"
						aria-describedby="nombreHelp" required>
					<span *ngIf="!nombre.hasError('required') || !nombre.touched" id="nombreHelp" class="form-text">
						Nombre del producto.
					</span>
					<span *ngIf="nombre.hasError('required') && nombre.touched" id="nombreHelp" class="form-text text-danger">
						El nombre es obligatorio.
					</span>
				</div>

				<div class="mb-3">
					<label for="descripcion" class="form-label">Descripción</label>
					<textarea ngModel #descripcion="ngModel" name="descripcion" class="form-control" id="descripcion"
						aria-describedby="descripcionHelp" required></textarea>
					<span *ngIf="!descripcion.hasError('required') || !descripcion.touched" id="descripcionHelp" class="form-text">
						Descripción del producto.
					</span>
					<span *ngIf="descripcion.hasError('required') && descripcion.touched" id="descripcionHelp" class="form-text text-danger">
						La descripción es obligatoria.
					</span>
				</div>

				<div class="mb-3">
					<label for="precio" class="form-label">Precio</label>
					<input ngModel #precio="ngModel" name="precio" type="number" class="form-control" id="precio"
						aria-describedby="precioHelp" required>
					<span *ngIf="!precio.hasError('required') || !precio.touched" id="precioHelp" class="form-text">
						Precio del producto.
					</span>
					<span *ngIf="precio.hasError('required') && precio.touched" id="precioHelp" class="form-text text-danger">
						El precio es obligatorio.
					</span>
				</div>

				<div class="mb-3">
					<label for="cantidadEnStock" class="form-label">Cantidad en Stock</label>
					<input ngModel #cantidadEnStock="ngModel" name="cantidadEnStock" type="number" class="form-control"
						id="cantidadEnStock" aria-describedby="cantidadEnStockHelp" required>
					<span *ngIf="!cantidadEnStock.hasError('required') || !cantidadEnStock.touched" id="cantidadEnStockHelp" class="form-text">
						Cantidad en stock del producto.
					</span>
					<span *ngIf="cantidadEnStock.hasError('required') && cantidadEnStock.touched" id="cantidadEnStockHelp" class="form-text text-danger">
						La cantidad en stock es obligatoria.
					</span>
				</div>

				<div class="mb-3">
					<label for="categoria" class="form-label">Categoría</label>
					<select ngModel #categoria="ngModel" name="categoria" class="form-select" id="categoria"
						aria-describedby="categoriaHelp" required>
						<option *ngFor="let categoria of categories" [value]="categoria.id">{{categoria.nombre}}
						</option>
					</select>
					<span *ngIf="!categoria.hasError('required') || !categoria.touched" id="categoriaHelp" class="form-text">
						Categoría del producto.
					</span>
					<span *ngIf="categoria.hasError('required') && categoria.touched" id="categoriaHelp" class="form-text text-danger">
						La categoría es obligatoria.
					</span>
				</div>

				
				<div class="alert alert-info d-flex flex-row align-items-center" role="alert">
					<button type="button" class="btn btn-primary me-2" (click)="save()">Guardar</button>
					<div class="flex-grow-1">
						<span class="float-end">
							Guardar el producto.
						</span>
					</div>
				</div>

				@if (product.id) {
				<div class="alert alert-danger" role="alert">
					<div class="d-flex flex-row align-items-center">
						<button type="button" class="btn btn-danger me-2" (click)="delete()">Eliminar</button>
						<div class="flex-grow-1 text-right">
							<span class="float-end text-right">
								Eliminar el producto.
							</span>
						</div>
					</div>
					<hr>
					<small class="font-italic">
						Esta acción eliminará el producto y no se puede deshacer.
					</small>
				</div>
				}
			</form>
		</div>
	</aside>
</dialog>