<nav class="navbar navbar-expand-md navbar-dark bg-dark user-select-none px-5">
	<a class="navbar-brand" [routerLink]="['/']">Proyecto III - Tarea II</a>
	<button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
		data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
		@if (isLoggedIn) {
			<ul ngbNav class="navbar-nav ms-auto">
				<li ngbNavItem>
					<a ngbNavLink [routerLink]="['/dashboard']">
						Dashboard
					</a>
				</li>
				<li ngbNavItem>
					<a ngbNavLink [routerLink]="['/users']">
						Usuarios
					</a>
				</li>
				<li ngbNavItem>
					<a ngbNavLink [routerLink]="['/categories']">
						Categorías
					</a>
				</li>
				<li ngbNavItem>
					<a ngbNavLink [routerLink]="['/products']">
						Productos
					</a>
				</li>
				<li ngbNavItem>
					<a ngbNavLink [routerLink]="['/logout']" (click)="doLogout()">
						Cerrar sesión
					</a>
				</li>
			</ul>
		}
		@else {
			<ul ngbNav class="navbar-nav ms-auto">
				<li ngbNavItem>
					<a ngbNavLink [routerLink]="['/']">
						Inicio
					</a>
				</li>
				<li ngbNavItem>
					<a ngbNavLink [routerLink]="['/login']">
						Iniciar sesión
					</a>
				</li>
				<li ngbNavItem>
					<a ngbNavLink [routerLink]="['/register']">
						Registrarse
					</a>
				</li>
			</ul>
		}
	</div>
</nav>

<router-outlet />
