<div class="container mt-5">
	<div class="jumbotron text-center">
		<h1 class="display-4">¡Bienvenido a Tarea II - Proyecto III!</h1>
		<p class="lead">Esta página permite visualizar y editar categorías y productos.</p>
		<hr class="my-4">
		<p>Para acceder a más funciones, por favor autenticarse.</p>
		<a class="btn btn-primary btn-lg mx-2" [routerLink]="'/login'" role="button">Iniciar Sesión</a>
		<a class="btn btn-secondary btn-lg mx-2" [routerLink]="'/register'" role="button">Registrarse</a>
	</div>
</div>
