<div class="card w-100 h-100">
	<div class="card-body d-flex flex-column justify-content-between">
		<div class="card-title">
			<span class="h5 me-2">
				{{category.nombre}}
			</span>
			<span *ngIf="canModify" class="bg-dark text-white float-end rounded px-2">
				{{category.id}}
			</span>
		</div>

		<p class="card-text">
			{{category.descripcion}}
		</p>

		<div *ngIf="canModify" class="card-footer  d-flex justify-content-end">
			<button class="btn btn-primary ms-2" (click)="clickUpdateCategory()">
				<i class="bi bi-pencil"></i>
				Modificar elemento
			</button>
		</div>
	</div>
</div>

<app-category-editor [events]="offcanvas" />